
@{
    Layout = null;
}

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a asp-action="Index" asp-controller="Default" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Dashboard" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Staff" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="BookingAdmin" aria-expanded="false">
                    <i class="icon-calender menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Testimonial" aria-expanded="false">
                    <i class="fa fa-comments menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Service" aria-expanded="false">
                    <i class="fa fa-cloud menu-icon"></i><span class="nav-text">Servisler</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="AdminAbout" aria-expanded="false">
                    <i class="fa fa-cog menu-icon"></i><span class="nav-text">About Güncelle</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="AdminRoom" aria-expanded="false">
                    <i class="fa fa-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Guest" aria-expanded="false">
                    <i class="fa fa-users menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a asp-action="Inbox" asp-controller="AdminContact" aria-expanded="false">
                    <i class="fa fa-commenting menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="AdminMail" aria-expanded="false">
                    <i class="icon-paper-clip menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="AdminImageFile" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Resim İşlemleri</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="AdminFile" aria-expanded="false">
                    <i class="icon-film menu-icon"></i><span class="nav-text">Dosya İşlemleri</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="AdminUsers" aria-expanded="false">
                    <i class="icon-drop menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="WorkLocation" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Lokasyonları</span>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Role" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="RoleAssign" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Rol Atamaları</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Settings" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="WorkLocation" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış</span>
                </a>
            </li>

        </ul>
    </div>
</div>
