@model AddRoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <label>Rol Adı:</label>
    <input typeof="text" asp-for="RoleName" class="form-control"></>
    <span asp-validation-for="RoleName" class="text-danger"></span>
    <br />

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

